*{margin: 0;padding: 0;list-style: none;font-family: "微软雅黑";}
body,html{height: 100%;width: 100%;position: relative;overflow: hidden;}
#wrap{width: 2000%;height: 100%;background: #071329;}
#wrap .page{width: 100%;height: 100%;float: left;}
#wrap .page0 .part0_0{width: 100%;color: #fff;position: absolute;z-index: 100;top: -500px;}
#wrap .page0 .part0_0 img{width: 40%;left: 30%;position: absolute;top: 120px;}
#wrap .page0 .part0_1{width: 100%;position: absolute;bottom: -10px;opacity: 0;}
#wrap .page0 .part0_1 img{width: 100%;position: absolute;bottom: 0;}
#wrap .page0 .part0_2{width: 100%;position: absolute;right: -500px;}
#wrap .page0 .part0_2 img{position: absolute;right: 200px;top: 200px;}
#wrap .page0 .part0_3{width: 100%;position: absolute;bottom: -1000px;z-index: 100;}
#wrap .page0 .part0_3 img{width: 100%;position: absolute;bottom: 0;}
#wrap .page0 .star{position: absolute;width: 200px;}
#wrap .page0 .part0_4{left: 400px;top: -200px;opacity: 0;}
#wrap .page0 .part0_5{left: 1600px;top: 0px;opacity: 0;}
#wrap .page0 .star img{width: 100%;height: 100%;}

#wrap .page1 .part1_0{position: absolute;top: -300px;height: 280px;}
#wrap .page1 .part1_0 img{height: 280px;left: 0%;float: left;}
#wrap .page1 .part1_1{width: 100%;position: absolute;top: 100px;opacity: 0;}
#wrap .page1 .part1_1 img{position: absolute;left:-30%}
#wrap .page1 .part1_2{width: 90%;position: absolute;left: -100%;top: 100px;}
#wrap .page1 .part1_2 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 100px;margin-bottom: 30px;}
#wrap .page1 .part1_2 .content{width: 33.3%;float: left;height: 140px;position: relative;margin-top: 30px;}
#wrap .page1 .part1_2 .content h2{color: #742bfe;width: 100%;float: left;font-size: 20px;line-height: 30px;text-align: center;}
#wrap .page1 .part1_2 .content h2 img{width: 40px;margin: 0;}
#wrap .page1 .part1_2 .content .btn{width: 80%;height: 60px;background: #732dff;color: #fff;position: absolute;
bottom: 0;line-height: 60px;text-align: center;border-radius: 40px;left: 10%;font-weight: 600;}
#wrap .page1 .part1_2 .content img{width: 70%;margin-left: 15%;margin-top: 50px;}
#wrap .page1 .part1_2 .content .start{width: 70px;position: absolute;margin: 0;left: 45%;top:65%;}
#wrap .page1 .part1_3{height: 280px;position: absolute;bottom: -300px;left: -50%;}
#wrap .page1 .part1_3 img{height: 280px;left: 0%;float: left;}
#wrap .page1 .part1_4{width: 100%;position: absolute;bottom: -500px;}
#wrap .page1 .part1_4 img{width: 60%;float: left;margin-left: 20%;}

#wrap .page2 .part2_0{position: absolute;top: -300px;height: 280px;}
#wrap .page2 .part2_0 img{height: 280px;left: 0%;float: left;}
#wrap .page2 .part2_1{width: 100%;position: absolute;left: 0%;top: 110px;opacity: 0;}
#wrap .page2 .part2_1 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 70px;margin-bottom: 30px;}
#wrap .page2 .part2_1 h2{width: 100%;text-align: center;line-height: 40px;color: #732dff;}
#wrap .page2 .part2_2{position: absolute;width: 90%;top: 250px;height: 400px;left: 5%;opacity: 0;}
#wrap .page2 .part2_3{position: absolute;width: 100%;bottom: -300px;}

#wrap .page3 .part3_0{position: absolute;bottom: -300px;height: 280px;}
#wrap .page3 .part3_0 img{height: 280px;left: 0%;float: left;}
#wrap .page3 .part3_1{width: 100%;position: absolute;left: 0%;top: 50px;opacity: 0;}
#wrap .page3 .part3_1 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 70px;margin-bottom: 30px;}
#wrap .page3 .part3_1 h2{width: 100%;text-align: center;line-height: 40px;color: #732dff;}
#wrap .part3_2{position: absolute;top: 70px;height: 100px;width: 100%;opacity: 0;z-index: 100000;}
#wrap .part3_2 .pre1{position: absolute;left: 30%;}
#wrap .part3_2 .next1{position: absolute;right: 30%;}
#wrap .page3 .part3_3{position: absolute;top: 250px;width: 40%;left: -50%;height: 530px;overflow: hidden;}
#wrap .page3 .part3_3 img{width: 100%;}
#wrap .page3 .part3_4{position: absolute;top: 250px;width: 40%;left: 100%;height: 530px;}
#wrap .page3 .part3_4 img{width: 100%;float: left;margin-left: 0;}
#wrap .page3 .part3_5{width: 100%;position: absolute;bottom: -130px;}
#wrap .page3 .part3_5 img{width: 220px;}

#wrap .page4 .part4_0{position: absolute;top: -300px;height: 280px;}
#wrap .page4 .part4_0 img{height: 280px;left: 0%;float: left;}
#wrap .page4 .part4_1{width: 100%;position: absolute;left: 0%;top: 110px;opacity: 0;}
#wrap .page4 .part4_1 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 70px;margin-bottom: 30px;}
#wrap .page4 .part4_1 h2{color: #fff;font-size: 24px;width: 100%;text-align: center;line-height: 70px;margin-bottom: 30px;font-weight: 400;}
#wrap .page4 .part4_2{position: absolute;bottom: 90px;width: 100%;top: 400px;opacity: 0;}
#wrap .page4 .part4_3{position: absolute;bottom: 90px;width: 100%;top: 400px;left: 50%;opacity: 0;}
#wrap .page4 .part4_4{position: absolute;bottom: -500px;width: 100%}
#wrap .page4 .part4_4 img{width: 200%;}
#wrap .page4 .part4_5{position: absolute;bottom: -500px;width: 100%;left: -100%;}
#wrap .page4 .part4_5 img{width: 200%;}
#wrap .page4 .part4_6{position: absolute;bottom: -500px;width: 100%;height:100px;left: -100%;}
#wrap .page4 .part4_6 img{width: 200%;}
#wrap .page4 .part4_7{position: absolute;bottom: -500px;width: 100%;left: 90%;}

#wrap .page5 .part5_0{position: absolute;top: -300px;height: 280px;}
#wrap .page5 .part5_0 img{height: 280px;left: 0%;float: left;}
#wrap .page5 .part5_3{height: 280px;position: absolute;bottom: -300px;left: -50%;}
#wrap .page5 .part5_3 img{height: 280px;left: 0%;float: left;}
#wrap .page5 .part5_1{width: 100%;position: absolute;left: -100%;top: 100px;}
#wrap .page5 .part5_1 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 100px;margin-bottom: 30px;}
#wrap .page5 .part5_2{position: absolute;height: 300px;width: 1750px;left: 5%;top: 200px;opacity: 0;}
#wrap .page5 .part5_2 img{float: left;}
#wrap .page5 .part5_2 .left{width: 419px;margin-left: 20px;}
#wrap .page5 .part5_2 .center{width: 409px;margin-left: 150px;}
#wrap .page5 .part5_2 .right{width: 509px;margin-left: 220px;margin-top: 50px;}
#wrap .page5 .part5_4{width: 521px;position: absolute;top: 400px;left: 5%;opacity: 0;}
#wrap .page5 .part5_4 img{width: 100%;}
#wrap .page5 .part5_5{width: 600px;position: absolute;top: 400px;left:35%;opacity: 0;}
#wrap .page5 .part5_5 img{width: 100%;}
#wrap .page5 .part5_6{width: 551px;position: absolute;top: 400px;left:70%;opacity: 0;}
#wrap .page5 .part5_6 img{width: 100%;}

#wrap .page6 .part6_0{position: absolute;top: -300px;height: 280px;}
#wrap .page6 .part6_0 img{height: 280px;left: 0%;float: left;}
#wrap .page6 .part6_3{height: 280px;position: absolute;bottom: -300px;left: -50%;}
#wrap .page6 .part6_3 img{height: 280px;left: 0%;float: left;}
#wrap .page6 .part6_1{width: 100%;position: absolute;left: 0%;top: 110px;opacity: 0;}
#wrap .page6 .part6_1 h1{color: #ff2b6d;font-size: 40px;width: 100%;text-align: center;line-height: 70px;margin-bottom: 30px;}
#wrap .page6 .part6_1 h2{width: 100%;text-align: center;line-height: 40px;color: #732dff;}
#wrap .page6 .part6_2{position: absolute;top: 300px;opacity: 0;}
#wrap .page6 .part6_2 img{position: absolute;}
#wrap .page6 .part6_2 .part6_21{left: 140px;top: 80px;}
#wrap .page6 .part6_2 .part6_22{left: 430px;}
#wrap .page6 .part6_2 .part6_23{left: 800px;top: 120px;}
#wrap .page6 .part6_2 .part6_24{left: 1200px;top: 20px;}
#wrap .page6 .part6_2 .part6_25{left: 1550px;top: 70px;}
#wrap .page6 .part6_4{position: absolute;width: 100%;bottom: 50px;z-index: 100;left:120%;}
#wrap .page6 .part6_4 img{float: left;margin-left: 100px;}

#wrap .page7 .part7_0{position: absolute;top: -300px;height: 280px;}
#wrap .page7 .part7_0 img{height: 280px;left: 0%;float: left;}
#wrap .page7 .part7_3{height: 280px;position: absolute;bottom: -300px;left: -50%;}
#wrap .page7 .part7_3 img{height: 280px;left: 0%;float: left;}
#wrap .page7 .part7_11{width: 35%;position: absolute;top: 100px;}
#wrap .page7 .part7_11 img{position: absolute;}
#wrap .page7 .part7_11 h1{color: #ff2b6e;position: absolute;width: 100%;padding-left:100px;top: 0;font-size: 40px;}
#wrap .page7 .part7_11 h2{color: #712dfc;width: 100%;float: left;font-size: 20px;font-weight: 400;line-height: 30px;}
#wrap .page7 .part7_11 h2 strong{color: #ff2b6e;}
#wrap .page7 .part7_11 .first{margin-top: 150px;}
#wrap .page7 .part7_11 h3{color: #ff2b6e;position: absolute;width: 100%;padding-left:100px;top: 60px;}
#wrap .page7 .part7_1{left: -50%;}
#wrap .page7 .part7_2{left: 150%;}
#wrap .page7 .part7_4{position: absolute;bottom: 0;left: -40%;}
#wrap .page7 .part7_5{position: absolute;right: -700px;top: 70%;z-index: 100;}
#wrap .page7 .part7_6{position: absolute;right: -800px;top: 70%;}

.changeBtn{position: absolute;width: 100%;height: 100%;z-index: 1000;}
.changeBtn .pre{width: 50%;position: absolute;height: 100%;}
.changeBtn .next{width: 50%;position: absolute;height: 100%;left: 50%;}
